automation/n8n-workflows/customer-service-ai.json
{
  "name": "Customer Service AI",
  "nodes": [
    {
      "parameters": {
        "accessToken": "{{$credentials.whatsapp_token}}"
      },
      "id": "whatsapp-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "{{$credentials.google_sheets_id}}",
        "range": "Customer_History!A1:Z1000"
      },
      "id": "get-history",
      "name": "Get Client History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [300, 300]
    },
    {
      "parameters": {
        "prompt": "You are E-Tech Customer Service AI. A customer sent this message: '{{$json.message}}'\n\nAnalyze:\n1. Sentiment: positive, neutral, negative, urgent\n2. Intent: sales, support, info\n3. Priority: low, normal, high, critical\n\nRespond professionally, warmly, empathetically. Use the knowledge base for policies, FAQs, product info.\n\nKnowledge base:\n- Order process, payment methods, delivery times\n- Return policy (30 days)\n- Warranty (1-3 years international)\n- Support hours: 24/7 AI, human 8h-20h"
      },
      "id": "analyze-message",
      "name": "Analyze (Claude)",
      "type": "anthropic",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "if",
        "value1": "{{$json.sentiment}}",
        "operation": "notEqual",
        "value2": "critical"
      },
      "id": "check-escalation",
      "name": "Check Escalation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "channel": "whatsapp",
        "chatId": "{{$json.from}}",
        "text": "{{$json.response}}"
      },
      "id": "send-response",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "prompt": "URGENT - Customer Escalation\n\nCustomer: {{$json.name}}\nPhone: {{$json.phone}}\nMessage: {{$json.message}}\nSentiment: {{$json.sentiment}}\n\nThis requires immediate human attention. Please respond within 2 hours.",
        "chatId": "{{$credentials.telegram_chat_id}}"
      },
      "id": "escalate-human",
      "name": "Escalate to Human",
      "type": "telegram",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "{{$credentials.google_sheets_id}}",
        "range": "Support_Tickets!A1",
        "value": "{{$json.ticket}}"
      },
      "id": "log-ticket",
      "name": "Log Ticket",
      "type": "googleSheets",
      "typeVersion": 4,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [[{"node": "Get Client History", "type": "main", "index": 0}]]
    },
    "Get Client History": {
      "main": [[{"node": "Analyze (Claude)", "type": "main", "index": 0}]]
    },
    "Analyze (Claude)": {
      "main": [[{"node": "Check Escalation", "type": "main", "index": 0}]]
    },
    "Check Escalation": {
      "main": [[{"node": "Send WhatsApp", "type": "main", "index": 0}]],
      "false": [[{"node": "Escalate to Human", "type": "main", "index": 0}]]
    },
    "Send WhatsApp": {
      "main": [[{"node": "Log Ticket", "type": "main", "index": 0}]]
    },
    "Escalate to Human": {
      "main": [[{"node": "Log Ticket", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {},
  "version": 1
}